#container{
  width:400px;
  margin:10px auto;
  padding:10px;
  text-align:center;
  background : #FFF;
}

#timer{ 
  color:#f27c05; 
  font-size:80px; 
  font-weight:bold;
  letter-spacing: 3px;
  font-family: "iWriter Mono";
  border : 5px solid black;
  border-radius:50%;
  background: #ededed;
  margin:10px auto;
  width:300px;
  height:300px;
  overflow:hidden;
  position:relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

#time{
  margin-top:100px;
  z-index : 1;
  position:relative;
}

#buttons button { 
  background:#fff; 
  border:2px solid black; 
  color:#000; 
  cursor:pointer; 
  padding:5px; 
  width:100px; 
  margin:10px auto;
  font-size:14px;
  height : 50px;
  border-radius : 50px;
  spacing: 20px;
}

#buttons button#shortBreak{
  background : #fff;
}

#buttons button#shortBreak:hover{
  background : #ffdab5;
}

#buttons button#longBreak:hover{
  background : #ffdab5;
}

#buttons button#longBreak{
  background : #fff;
}

#buttons button#work:hover{
  background : #ffdab5;
}

#buttons button#stop{
  background : #fff;
}

#buttons button#stop:hover{
  background : #ffb5b5;
}
